<include file="Public/top" title = "修改组织" />
<style type="text/css">
    .viewall{float: right;right: 5%;}
</style>
        <!-- start left -->
<include file="Public/left"/>
        <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- start top -->
        <include file="Public/top"/>
        <!-- end top -->
        <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>修改组织</h2>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>欢迎使用HRV调节训练系统管理平台!</h5>
                        <a href = "__CONTROLLER__/orgmanager"><div class="viewall">返回上一级</div></a>
                    </div>
                    <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                       <!--  <th>序号</th> -->
                        <th>组织名</th>
                        <th>角色</th>
                        <th>操作</th>         
                    </tr>
                    </thead>
                    <tbody>
            <form name = "form1" action = "__CONTROLLER__/editorgOk/id/{$data[0].id}" method = "post">
                            <tr class="gradeU">
            <!-- <td><input type = "text" name = "id" value = "{$data[0].id}" readonly></td> -->
                            <td><input type = "text" name = "name" value = "{$data[0].name}" readonly></td>

                <td>
                 <select name = "identity" >
                            <option value="{$data[0].js_name}" selected>{$data[0].js_name}</option>
                            <?php foreach ($js as $key => $value): ?>
                                <option value="{$value['name']}">{$value['name']}</option>
                            <?php endforeach ?>
                            </select>
                </td>

                <td>
                             <input type="submit" name = "submit" value = "保存" class="btn btn-w-m btn-info" ></a>
                        </td>
                    </tr>
            </form>
                    <foreach name="arr2" item="vs" key="k">
                    <if condition = "$vo.id eq $vs['fid']">
                    <tr class="gradeU">
                        <td>{$vs.id}</td>
                        <td>——{$vs.name}</td>
                        <td>
                           <a href="{:U('Fenlei/edit',array('id'=>$vs['id']))}"><button type="button" class="btn btn-w-m btn-info">修改</button></a>
                            <a href="{:U('Fenlei/delete',array('id'=>$vs['id']))}" onclick = "return shifou();"><button type="button" class="btn btn-w-m btn-danger">删除</button></a>
                        </td>
                    </tr>
                    </if>
                    </foreach>
                    </tbody>
                    </table>

                    </div>
                </div>
            </div>
            </div>
<!-- <div id="uid">
    <?php foreach ($code as $key => $value): ?>
                <input  type = "checkbox" name = "fid[]" value="{$value['id']}">:{$value['name']}&nbsp;&nbsp;&nbsp;&nbsp;
            <?php endforeach ?>
</div>
            
             <div style = "margin:auto 130px;margin-top:100px;">
                                <button onclick="doCheck(1)">全选</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button onclick="doCheck(2)">全不选</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button onclick="doCheck(3)">反选</button>
                            </div>
                        </div>  -->
    <!-- start footer -->
                    <include file="Public/footer" />
            <!-- end footer -->
        </div>
    <!-- Data Tables -->
    <script src="__PUBLIC__/Admin/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    <script type="text/javascript">
            function doCheck(b){
                //获取所有的input选择框
                var uid = document.getElementById("uid");
                var list = uid.getElementsByTagName("input");
                //遍历
                for(var i=0;i<list.length;i++){
                    switch(b){
                        case 1: list[i].checked = true; break; 
                        case 2: list[i].checked = false; break; 
                        case 3: list[i].checked = !list[i].checked; break; 
                    }
                }
            }
        </script>

<script language=javascript> 
function check(t){ 
    if(t.checked == false)
    {
        var par = t.parentNode;
        var ne = par.nextElementSibling;
        var nes = ne.getElementsByTagName('input');
        for(var i=0;i<nes.length;i++){
        console.log(nes[i]);
            nes[i].checked = false;
            nes[i].disabled = true;
        }

    }
    else
    {
        var id = t.value;
        var zibox = document.getElementsByClassName('zi'+id);
        for(var i=0;i<zibox.length;i++)
            zibox[i].removeAttribute('disabled');
    }
} 
    /*var xz = document.getElementById(id);
    var ids = xz.value;
    alert(ids); 
    alert(xz.checked);*/ 
/*$("#xz").blur(function(){
    var xz=document.getElementById("xz"); 
    alert(xz.checked);
})*/
    /* $(".xz").blur(function(){

         var id=$(".xz").val();
         alert(id); 
         alert($(".xz").is(':checked'));

    })*/
</script> 